<div id="div_search_bar">
    <form class="form-inline my-2 my-lg-0">
        <input id="search_bar" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button id="search_submit" class="btn my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>

<!-- Example single danger button -->
<div class="div_dropdown">
    <div class="dropdown show btn-group" id="ddl_plants">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Plants
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>
    <div class="dropdown show btn-group">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Seeds
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>
    <div class="dropdown show btn-group">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Gardening Tools & Accesories
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>
    <div class="dropdown show btn-group">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Soil & Fertilizer
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>

</div>


<div class="container">
    <div class="row">
        {{#each productList}}
            <div class="col bg-success">
                <a href="" class="product_click" data-id="{{this._id}}">
                    {{this.title}}
                    <p><img src="{{this.productImage}}" height="100" width="100"></p>
                    <p>Price:{{this.price}}</p>
                </a>
            </div>
        {{/each}}
    </div>
    
</div>