<div class="signup-form container">
  <form action="/users/signup" method="POST" class="form-horizontal">
    <div class="row">
      <div class="col-8 offset-4">
        <h2>Sign Up</h2>
      </div>
    </div>
    {{! }}
    {{#if error}}
      <div>
        <p class="text-danger"> Error: {{error}} </p>
      </div>
    {{/if}}
    {{!  }}
    {{#if errors}}
      {{#each errors}}
        <div>
          <p class="text-danger"> {{this}} </p>
        </div>
      {{/each}}
    {{/if}}
    {{!  }}
    <div class="form-group row">
      <label class="col-form-label col-4">First Name: </label>
      <div class="col-8">
        <input
          type="text"
          class="form-control"
          name="firstName"
          required="required"
        />
      </div>
    </div>
    {{! }}
    <div class="form-group row">
      <label class="col-form-label col-4">Last Name: </label>
      <div class="col-8">
        <input
          type="text"
          class="form-control"
          name="lastName"
          required="required"
        />
      </div>
    </div>
    {{! }}
    <div class="form-group row">
      <label class="col-form-label col-4">Email Id: </label>
      <div class="col-8">
        <input
          type="email"
          class="form-control"
          name="emailId"
          required="required"
        />
      </div>
    </div>
    {{! }}
    <div class="form-group row">
      <label class="col-form-label col-4">Password: </label>
      <div class="col-8">
        <input
          type="password"
          class="form-control"
          name="password"
          required="required"
        />
      </div>
    </div>
    {{! }}
    <div class="form-group row">
      <label class="col-form-label col-4">Phone Number: </label>
      <div class="col-8">
        <input
          type="number"
          class="form-control"
          name="phoneNumber"
          required="required"
        />
      </div>
    </div>
    {{! }}
    <div class="form-group row">
      <label class="col-form-label col-4">Address Line 1:</label>
      <div class="col-8">
        <input
          type="text"
          class="form-control"
          name="Line1"
          required="required"
        />
      </div>
    </div>
    {{! }}

    <div class="form-group row">
      <label class="col-form-label col-4">Address Line 2:</label>
      <div class="col-8">
        <input
          type="text"
          class="form-control"
          name="Line2"
          required="required"
        />
      </div>
    </div>
    {{! }}
    <div class="form-group row">
      <label class="col-form-label col-4">City: </label>
      <div class="col-8">
        <input
          type="text"
          class="form-control"
          name="City"
          required="required"
        />
      </div>
    </div>
    {{! }}
    <div class="form-group row">
      <label class="col-form-label col-4">State: </label>
      <div class="col-8">
        <input
          type="text"
          class="form-control"
          name="State"
          required="required"
        />
      </div>
    </div>
    {{! }}
    <div class="form-group row">
      <label class="col-form-label col-4">Zip Code: </label>
      <div class="col-8">
        <input
          type="number"
          class="form-control"
          name="ZipCode"
          required="required"
        />
      </div>
    </div>
    {{! }}
    <div class="form-group row">
      <div class="col-8 offset-4">
        <input type="submit" class="btn btn-primary btn-lg" />
      </div>
    </div>
    <div class="container">
      <h3>
        Already and User:
        <a href="/users/form" class="btn btn-primary btn-lg text-uppercase">Log
          In</a></h3>
    </div>
    {{! }}
  </form>
</div>